[submodule "dnspython"]
	path = dnspython
	url = git@cd.splunkdev.com:phantom-external/dnspython.git
[submodule "ipwhois"]
	path = ipwhois
	url = git@cd.splunkdev.com:phantom-external/python-ipwhois.git
